<p id="notice"><%= notice %></p>

<h1>Medical Devices</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Brand</th>
      <th>Specialty</th>
      <th>Manufacturer</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @medical_devices.each do |medical_device| %>
      <tr>
        <td><%= medical_device.name %></td>
        <td><%= medical_device.brand %></td>
        <td><%= medical_device.specialty %></td>
        <td><%= medical_device.manufacturer %></td>
        <td><%= medical_device.category %></td>
        <td><%= link_to 'Show', medical_device %></td>
        <td><%= link_to 'Edit', edit_medical_device_path(medical_device) %></td>
        <td><%= link_to 'Destroy', medical_device, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Medical Device', new_medical_device_path %>
