<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @recall.number %>
</p>

<p>
  <strong>Date:</strong>
  <%= @recall.date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recall.description %>
</p>

<p>
  <strong>Url:</strong>
  <%= @recall.url %>
</p>

<p>
  <strong>Title:</strong>
  <%= @recall.title %>
</p>

<p>
  <strong>Consumer contact:</strong>
  <%= @recall.consumer_contact %>
</p>

<p>
  <strong>Last publish date:</strong>
  <%= @recall.last_publish_date %>
</p>

<p>
  <strong>Number of units:</strong>
  <%= @recall.number_of_units %>
</p>

<p>
  <strong>Injuries:</strong>
  <%= @recall.injuries %>
</p>

<p>
  <strong>Hazards:</strong>
  <%= @recall.hazards %>
</p>

<p>
  <strong>Remedies:</strong>
  <%= @recall.remedies %>
</p>

<p>
  <strong>Retailers:</strong>
  <%= @recall.retailers %>
</p>

<p>
  <strong>Country:</strong>
  <%= @recall.country %>
</p>

<p>
  <strong>Recallable:</strong>
  <%= @recall.recallable_id %>
</p>

<p>
  <strong>Recallable type:</strong>
  <%= @recall.recallable_type %>
</p>

<%= link_to 'Edit', edit_recall_path(@recall) %> |
<%= link_to 'Back', recalls_path %>
